<div class="outer-container">
  <header class="container rounded">
    <div class="py-2 text-center">
      <div class="border rounded p-2">
        <h2>Communications</h2>
      </div>
    </div>
  </header>
  <div class="container border mt-1 p-1" id="chatLog" style="overflow-y: auto; display: flex; flex-direction: column-reverse;">
    {{#each chat}}
    <div class="container border rounded px-2 py-1">
      <div class="row p-2">
        <div class="col border rounded p-2" id="userName">
          {{userName}}
        </div>
        <div class="col-md-auto border rounded p-2" id="sentTime">
          {{sentTime}}
        </div>
      </div>
      <div class="col-md-auto border p-1 mx-3" id="userMessage" style="word-wrap: break-word;">
        {{userMessage}}
      </div>
    </div>
    {{/each}}
  </div>
  <form class="container p-4 flex-column fixed-bottom">
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" id="userMessageInput" placeholder="(Type your message)"/>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary" id="sendButton">
          Send
        </button>
      </div>
    </div>
  </form>
</div>