<!-- Home page -->
<div class="outer-container border-rounded  mt-4 text-center">
    <div class="row">
        <div class="col-6 px-8">
            <section class="study-group-info container mt-4">
                <div class="button-box ">
                    <button class="btn mr-2 btn-light-pink mx-3"><h4>View Projects</h4></button>
                    <button class="btn mr-2 btn-light-pink mx-3"><h4>Create a new Project</h4></button>    
                </div>
                <div class="input-group mb-3 col-6 mt-2 d-flex justify-content-center align-items-center">
                    <input type="text" class="form-control" placeholder="Search for Projects" aria-label="Search for Projects">
                    <div class="input-group-append">
                      <button class="btn mr-2 btn-light-pink" type="button">Search</button>
                    </div>
                  </div>
                <!-- Add study group info elements -->
            </section>

            <section class="shared-resources mt-4">
                <!-- Add shared resources elements -->
            </section>
        </div>
        {{#if userData.length}}
        <div class="col-6 px-8">
            <section class="chat container mt-4">
                <div class="d-flex justify-content-center">
                    <button class="btn mr-2 btn-light-pink"><h4>Select your chatroom</h4></button>
                </div>
                <div class="p-3">
                    {{#each userData as |data|}}
                    <p>
                         <button type="button" class="btn btn-link">{{this.name}}</button>
                    </p>
                    {{/each}}
                </div>
            </section>
        </div>
        {{/if}}
    </div>
</div>