<div class="row">
    <div class="col-md-6">
        <h2>Create Room</h2>
        <form class="form room-creation-form">
            <div class="form-group">
                <label for="room-name">Room name:</label>
                <input class="form-input" type="text" id="room-name"/>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Create</button>
            </div>
        </form>
    </div>
</div>

<script src="/js/room.js"></script>